<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ready for delivery</h5>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Orden</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        @for (item of orders; track $index) { @if (item.status===status) {
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.client }}</td>
          <td>{{ item.order }}</td>
          <td>
            <button
              type="button"
              class="btn btn-success"
              (click)="deliverItem(item.id)"
            >
              Entregar
            </button>
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
</div>
